* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 20px;
  border: 2px solid red;
}

.filter-section {
  border: 2px solid green;
  display: flex;
  align-items: center;
  color: #636363;
  font-weight: bold;
}

#filterEmails {
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

#filterEmails button {
  border: 1px solid #E1E4EA;
  margin: 2px 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  color: #636363;
}

#filterEmails button:hover {
  background-color: #f2f2f2;
}

.email-view {
  border: 2px solid blue;
}

.email-list {
  border: 2px solid red;
  margin-top: 15px;
}

#emailList {
  border: 2px solid blue;
}

.favorite {
  background-color: #f2f2f2;
}

.email-item {
  list-style: none;
  border: 2px solid green;
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  align-items: center;
}

.email-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.avatar {
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  width: 40px;
  height: 40px;
  font-size: 20px; 
  background-color: #E54065;
  color: white;
}

.email-info {
  border: 2px solid blue;
  margin: 5px;
}

.email-info strong {
  border: 2px solid red;
  color: #636363;
}

.email-info p {
  margin: 5px 0;
  border: 2px solid blue;
  color: #636363;
}


.email-info small {
  border: 2px solid blue;
  color: #636363;
}

#favorite-text {
  margin-left: 50px;
  color: #E54065;
  font-weight: bold;
}