* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f5f9;
}

.container {
  margin: 80px;
}

.filter-section,
.pagination-controls {
  display: flex;
  align-items: center;
  color: #636363;
  font-weight: bold;
}

#filterEmails,
.pagination-controls {
  margin-left: 10px;
}

#filterEmails button,
#prevPage,
#nextPage {
  border: 1px solid #cfd2dc;
  margin: 2px 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #636363;
}

#filterEmails button:hover,
#prevPage:hover,
#nextPage:hover {
  background-color: #e1e4ea;
}

.email-list {
  width: 100%;
}

#pageInfo {
  color: #e54065;
  font-weight: bold;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 20px;
}

.favorite {
  background-color: #f2f2f2;
}

.email-item {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  align-items: center;
  background-color: white;
  border: 1px solid #cfd2dc;
}

.email-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.avatar,
#email-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e54065;
  color: white;
}

.avatar {
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: auto 10px;
}

#email-avatar {
  width: 50px;
  height: 50px;
}

.email-info {
  margin: 5px;
}

.email-info strong,
.email-info p,
.email-info small,
#emailSubject,
#emailDateTime,
#emailContent {
  color: #636363;
}

.email-info p,
#emailContent {
  margin: 5px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#favorite-text {
  margin-left: 50px;
  color: #e54065;
  font-weight: bold;
}

.email-view {
  padding-top: 15px;
  display: flex;
  align-items: flex-start;
}

.email-details {
  border: 1px solid #cfd2dc;
  padding: 15px;
  width: 60%;
  margin-left: 15px;
  border-radius: 10px;
  background-color: white;
}

.email-subject {
  display: flex;
  justify-content: space-between;
}

.email-body {
  margin-left: 15px;
}

.email-body button {
  color: #f2f2f2;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #e54065;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.email-body button:hover {
  background-color: #ec5959;
  cursor: pointer;
}
